<section id="advantages">
  <div class="container">
    <h2 class="title advent_title">ADVaNTAGES</h2>
    <ul class="adventage_list">
      <li class="adventage_item">
        <img src="../img/advantage/thematic.png" alt="thematic" />
      </li>
      <li class="adventage_item">
        <img src="../img/advantage/uniq.png" alt="unique" />
      </li>
      <li class="adventage_item">
        <img src="../img/advantage/reqular.png" alt="regular" />
      </li>
      <li class="adventage_item">
        <img src="../img/advantage/inter.png" alt="interactive" />
      </li>
      <li class="adventage_item">
        <img src="../img/advantage/social.png" alt="social integration" />
      </li>
      <li class="adventage_item">
        <img src="../img/advantage/family.png" alt="family-friendly fun" />
      </li>
    </ul>
  </div>
</section>
