<section class="container">
  <h2 class="title">BENEFITS</h2>
  <ul class="benefits_list">
    <li>
      <img src="../img/benefits/score.png" alt="score" />
      <p>Stars</p>
    </li>
    <li>
      <img src="../img/benefits/downloads.png" alt="downloads" />
      <p>Downloads</p>
    </li>
    <li>
      <img src="../img/benefits/comments.png" alt="reviews" />
      <p>Reviews</p>
    </li>
    <li>
      <img src="../img/benefits/choice.png" alt="choice" />
      <p>Online/Offline</p>
    </li>
  </ul>
</section>
