<footer>
  <div class="container">
    <h2 class="disclaimer_title">DISCLAIMER</h2>
    <p class="disclaimer_text">
      STARTLUCKYHUB.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
      PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
      GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
      PLAYING THIS GAME!
    </p>
    <div class="footer_list">
      <ul class="disclaimer_routes">
        <li>
          <a href="../privacyPolicy.html">Privacy policy</a>
        </li>

        <li>
          <a href="../termsConditions.html">Terms and conditions</a>
        </li>
      </ul>
      <p class="rights">All rights reserved startluckyhub.com | 2024</p>
    </div>
  </div>
</footer>
