<section id="faq" class="section faq">
  <div class="container accord">
    <h2 class="title">FAQ</h2>


    <ul class="accordion">
      <li class="accordion-item item-1">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >How do I unlock more levels?</span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p>Keep playing to naturally progress and unlock new levels</p>
        </div>
      </li>


       <li class="accordion-item item-2">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >Can I play with friends?</span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p>Yes, you can connect the game to social media to play with friends.</p>
        </div>
      </li>


       <li class="accordion-item item-3">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >Are there in-game purchases?</span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p> Yes, there are options to buy special items and power-ups.</p>
        </div>
      </li>



       <li class="accordion-item item-4">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >What do I do when I'm stuck on a level?</span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p> Try using different strategies or power-ups to clear the level.</p>
        </div>
      </li>


       <li class="accordion-item item-5">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >How do I unlock more levels?</span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p>Keep playing to naturally progress and unlock new levels</p>
        </div>
      </li>


      <li class="accordion-item item-6">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >Is there a way to play older levels?</span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p>Yes, you can go back and replay any completed level.</p>
        </div>
      </li>


      <li class="accordion-item item-7">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >What are the special events? </span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p> Special events offer unique challenges for a limited time, with
            special rewards.</p>
        </div>
      </li>


      <li class="accordion-item item-8">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >How do power-ups work? </span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p> Power-ups can clear larger areas or specific types of tiles.</p>
        </div>
      </li>


      <li class="accordion-item item-9">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >Can I play without an internet connection?</span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p> Yes, you can play offline, but some features require an internet
            connection.</p>
        </div>
      </li>


      <li class="accordion-item item-10">
        <div class="accordion-header">
          <span class="ac-header faq-list-item-title"
            >Is there a daily reward system? </span
          >
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="16"
              viewBox="0 0 24 16"
              fill="none"
            >
              <path
                d="M2.82 0.455811L12 9.61581L21.18 0.455811L24 3.27581L12 15.2758L0 3.27581L2.82 0.455811Z"
                fill="#FFF4A6"
              />
            </svg>
          </div>
        </div>

        <div class="accordion-content">
          <p> Yes, logging in daily will give you special bonuses.
          </p></p>
        </div>
      </li>
 
    </ul>
  </div>
</section>

