<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <img
      srcset="/img/gallery/gallery@1x.png, /img/gallery/gallery@2x.png"
      src="/img/gallery/gallery@1x.png"
      alt="Alice in Puzzeland"
      class="gallery-img"
    />

    <!-- Slider main container -->
    <div class="swiper horisontal-swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            srcset="/img/gallery/slides/1@1x.png, /img/gallery/slides/1@2x.png"
            src="/img/gallery/slides/1@1x.png"
            alt="Addictive Play"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="/img/gallery/slides/2@1x.png, /img/gallery/slides/2@2x.png"
            src="/img/gallery/slides/2@1x.png"
            alt="Collect Items to clear Missions"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="/img/gallery/slides/3@1x.png, /img/gallery/slides/3@2x.png"
            src="/img/gallery/slides/3@1x.png"
            alt="Rescue Friends"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="/img/gallery/slides/4@1x.png, /img/gallery/slides/4@2x.png"
            src="/img/gallery/slides/4@1x.png"
            alt="Powerful Booster"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="/img/gallery/slides/5@1x.png, /img/gallery/slides/5@2x.png"
            src="/img/gallery/slides/5@1x.png"
            alt="Come and join the FUN"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>
      </div>
    </div>
    <!-- Кастомні стрілки з SVG -->
    <div class="custom-prev">
      <svg width="65" height="65">
        <use href="/img/sprite.svg#icon-left"></use>
      </svg>
    </div>
    <div class="custom-next">
      <svg width="65" height="65">
        <use href="/img/sprite.svg#icon-right"></use>
      </svg>
    </div>
  </div>
</section>
