<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <img
      srcset="../img/gallery/gallery@1x.png, ../img/gallery/gallery@2x.png"
      src="../img/gallery/gallery@1x.png"
      alt="Alice in Puzzeland"
      class="gallery-img"
    />

    <!-- Slider main container -->
    <div class="swiper horisontal-swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            srcset="
              ../img/gallery/slides/1@1x.png,
              ../img/gallery/slides/1@2x.png
            "
            src="../img/gallery/slides/1@1x.png"
            alt="Addictive Play"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              ../img/gallery/slides/2@1x.png,
              ../img/gallery/slides/2@2x.png
            "
            src="../img/gallery/slides/2@1x.png"
            alt="Collect Items to clear Missions"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              ../img/gallery/slides/3@1x.png,
              ../img/gallery/slides/3@2x.png
            "
            src="../img/gallery/slides/3@1x.png"
            alt="Rescue Friends"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              ../img/gallery/slides/4@1x.png,
              ../img/gallery/slides/4@2x.png
            "
            src="../img/gallery/slides/4@1x.png"
            alt="Powerful Booster"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              ../img/gallery/slides/5@1x.png,
              ../img/gallery/slides/5@2x.png
            "
            src="../img/gallery/slides/5@1x.png"
            alt="Come and join the FUN"
            class="swiper-img"
            width="400"
            height="711"
          />
        </div>
      </div>
    </div>
    <!-- Кастомні стрілки з SVG -->
    <div class="custom-prev">
      <svg
        width="65"
        height="65"
        viewBox="0 0 65 65"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="0.5"
          y="0.365601"
          width="64"
          height="64"
          rx="32"
          fill="#CECBCB"
        />
        <path
          d="M44.17 16.1056L40.61 12.5656L20.83 32.3656L40.63 52.1656L44.17 48.6256L27.91 32.3656L44.17 16.1056Z"
          fill="black"
        />
      </svg>
    </div>
    <div class="custom-next">
      <svg
        width="65"
        height="65"
        viewBox="0 0 65 65"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="0.5"
          y="0.365601"
          width="64"
          height="64"
          rx="32"
          fill="#CECBCB"
        />
        <path
          d="M20.73 48.8256L24.27 52.3656L44.27 32.3656L24.27 12.3656L20.73 15.9056L37.19 32.3656L20.73 48.8256Z"
          fill="black"
        />
      </svg>
    </div>
  </div>
</section>
