<div class="header">
  <div class="header-desktop">
    <a href="./index.html" class="header-logo-link">
      <img src="../img/logo.png" alt="logo" width="48" height="48" />
      Alice in Puzzland</a
    >
    <nav>
      <ul class="navigation-list">
        <li class="navigation-item">
          <a href="#about" class="">About the game</a>
        </li>
        <li class="navigation-item">
          <a href="#gallery" class="">Gallery</a>
        </li>
        <li class="navigation-item">
          <a href="#benefits" class="">Benefits</a>
        </li>
        <li class="navigation-item">
          <a href="#advantages" class="">Advantages</a>
        </li>
        <li class="navigation-item">
          <a href="#play" class="">How to play</a>
        </li>
        <li class="navigation-item">
          <a href="#faq" class="">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-------------- Mobile menu ----------->
  <div class="header-mobile">
    <a href="./index.html">
      <img src="../img/logo.png" alt="logo" width="32" height="32" />
    </a>
    <button
      class="menu-toggle js-open-menu is-open"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="24" height="24">
        <use href="../img/icons.svg#menu"></use>
      </svg>
    </button>
  </div>

  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="modal-btn menu-toggle js-close-menu" type="button">
      <svg class="modal-icon" width="24" height="24">
        <use href="../img/icons.svg#close"></use>
      </svg>
    </button>

    <nav class="navigation-burger">
      <ul class="mobile-menu list">
        <li class="navigation-burger-item">
          <a href="./index.html" class="link current">Home</a>
        </li>
        <li class="navigation-burger-item">
          <a href="#about" class="link">About the game</a>
        </li>
        <li class="navigation-burger-item">
          <a href="#gallery" class="link">Gallery</a>
        </li>
        <li class="navigation-burger-item">
          <a href="#benefits" class="link">Benefits</a>
        </li>
        <li class="navigation-burger-item">
          <a href="#advantages" class="link">Advantages</a>
        </li>
        <li class="navigation-burger-item">
          <a href="#play" class="link">How to play</a>
        </li>
        <li class="navigation-burger-item">
          <a href="#faq" class="link">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
