<div class="header-container">
  <a href="./index.html" class="header-logo-link">
    <img src="../img/logo.png" />
    Alice in Puzzland</a
  >
  <nav class="navigation">
    <ul class="">
      <li class="">
        <a href="./index.html" class="">About the game</a>
      </li>
      <li class="">
        <a href="./index.html" class="">Gallery</a>
      </li>
      <li class="">
        <a href="./index.html" class="">Benefits</a>
      </li>
      <li class="">
        <a href="./index.html" class="">Advantages</a>
      </li>
      <li class="">
        <a href="./index.html" class="">How to play</a>
      </li>
      <li class="">
        <a href="./index.html" class="">FAQ</a>
      </li>
    </ul>
  </nav>
</div>

<div class="mobile-menu-container">
  <div class="burger-container">
    <div class="mobile-menu__header">
      <button type="button" class="mobile-menu__button">
        <svg class="mobile-menu__icon">
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>
    </div>

    <nav class="navigation-burger">
      <ul class="site-nav-burger">
        <ul class="">
          <li class="">
            <a href="./index.html" class="">Home</a>
          </li>
          <li class="">
            <a href="./index.html" class="">About the game</a>
          </li>
          <li class="">
            <a href="./index.html" class="">Gallery</a>
          </li>
          <li class="">
            <a href="./index.html" class="">Benefits</a>
          </li>
          <li class="">
            <a href="./index.html" class="">Advantages</a>
          </li>
          <li class="">
            <a href="./index.html" class="">How to play</a>
          </li>
          <li class="">
            <a href="./index.html" class="">FAQ</a>
          </li>
        </ul>
      </ul>
    </nav>
  </div>
</div>
