<section class="hero-section">
  <div class="hero-bg"></div>
  <div class="hero">
    <div class="container">
      <div class="hero-wrap">
        <div class="hero-left-side">
          <h1 class="hero-title">
            Alice <span class="hero-span">in Puzzeland</span>
          </h1>
          <p class="hero-text">
            Dive into "Alice Blast", where every level promises a burst of fun
            and a dash of challenge! Don't miss out on this explosive adventure.
          </p>
          <a
            href="https://play.google.com/store/apps/details?id=com.cookapps.playgrounds.ff.aliceblast"
            class="hero-link"
            target="_blank"
          >
            <img
              srcset="
                /img/hero/GooglePlayDefault@1x.png,
                /img/hero/GooglePlayDefault@2x
              "
              src="../img/hero/GooglePlayDefault@1x.png"
              alt="Link to Google Play"
              class="hero-google"
              width="204"
              height="59"
            />

            <img
              srcset="
                /img/hero/GooglePlayActive@1x.png,
                /img/hero/GooglePlayActive@2x.png
              "
              src="/img/hero/GooglePlayActive@1x.png"
              alt="Link to Google Play"
              class="hero-google-active"
              width="204"
              height="59"
            />
          </a>
        </div>
        <img
          srcset="/img/hero/hero@1x.png, /img/hero/hero@2x.png"
          src="/img/hero@1x.png"
          alt="Alice in Puzzeland"
          class="hero-img"
          width="787"
          height="442"
        />
      </div>
      <div class="hero-bg-fog"></div>
    </div>
    <img
      srcset="/img/hero/hero_mobile@1x.png, /img/hero/hero_mobile@2x.png"
      src="/img/hero_mobile@1x.png"
      alt="Alice in Puzzeland"
      class="hero-img-mobile"
    />
  </div>
</section>
