.adventage_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .adventage_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
  }
  .adventage_item {
    width: calc((100% - 2 * 178px) / 3);
  }
}
