.adventage_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    width: calc(100% - 2 * 178px) / 3;
  }
}
.adventage_title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffe000;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
