.benefits_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  p {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ffa500;
    font-family: 'Poppins', sans-serif;
  }
}
@media screen and (min-width: 1440px) {
  .benefits_list {
    flex-direction: row;

    gap: 73px;
  }
}
