.container {
  min-width: 320px;
  width: 100%;
  padding: 60px 16px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffe000;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 60px 80px;
    margin: 0 auto;
  }
  .title {
    padding-bottom: 80px;
  }
}
