.faq {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  @include media($desktop) {
    background-position: left bottom, right bottom, center;
    background-repeat: no-repeat;
  }
}

.ac-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #fff4a6;
  font-family: 'Poppins', sans-serif;

  @media only screen and (min-width: 1440px) {
    font-size: 32px;
  }
}
.accordion {
  width: 100%;

  @include media($desktop) {
    max-width: 1280px;
    padding: 0px 108px;
  }
}
.accordion-item {
  margin-bottom: 32px;

  @include media($desktop) {
    margin-bottom: 24px;
  }
}
.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @include media($desktop) {
    padding: 16px 24px;
  }
}

.accordion-content {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #fff4a6;
  max-height: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;

  @media only screen and (min-width: 1440px) {
  }
}
.accordion-content p {
  margin-top: 8px;

  @include media($desktop) {
    margin-top: 21px;
  }
}
.accordion-header.active .accordion-icon {
  transform: rotate(180deg);
}
.accordion-icon {
  opacity: 0.4;
  &:active {
    opacity: 0;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 25px;

  @include media($desktop) {
    width: 48px;
    height: 48px;
  }
}

.container.accord {
  position: relative;
}
