.faq {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  @include media($desktop) {
    background-position: left bottom, right bottom, center;
    background-repeat: no-repeat;
  }
}

.ac-header {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #fff4a6;
  font-family: 'Poppins', sans-serif;

  @media only screen and (min-width: 1440px) {
    font-size: 32px;
  }
}
.accordion {
  width: 100%;
  max-width: 840px;
  margin: 20px auto;
}
.accordion-item {
  margin-bottom: 8px;

  @include media($desktop) {
    margin-bottom: 16px;
  }
}
.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
  cursor: pointer;

  @include media($desktop) {
    padding: 16px 24px;
  }
}

.accordion-header.active {
  font-weight: 400;
}

.accordion-content {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #fff4a6;
  max-height: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  padding: 0 16px;

  @include media($desktop) {
  }
}
.accordion-content p {
  margin: 8px 0;
  @include media($desktop) {
    margin: 16px 0;
  }
}
.accordion-header.active .accordion-icon {
  transform: rotate(180deg);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  @include media($desktop) {
    width: 32px;
    height: 32px;
  }
}

.container.accord {
  position: relative;
}
