.gallery {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 16.5%,
    rgba(27, 36, 2, 0.2) 100%
  );
}

.gallery-container {
  position: relative;
}

.gallery-img {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 1440px) {
  .gallery-img {
    display: none;
  }
}

.gallery-title {
  color: $_accent_color;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 0.019em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
  .gallery-title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.04em;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 1439px) {
  .swiper {
    display: none;
  }
}

.swiper {
  width: 1103px;
}

.custom-prev,
.custom-next {
  position: absolute;
  margin-top: 65px;
  top: calc(50%);
  transform: translateY(-50%);
  z-index: 1000;
  width: 65px;
  height: 65px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-prev {
  left: 80px;
}

.custom-next {
  right: 80px;
}
