// .header {
//   padding: 20px 0;
// }

// .nav-list {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 40px;

//   @include media(tablet) {
//     justify-content: flex-start;
//   }

//   @include media(desktop) {
//     justify-content: flex-end;
//   }
// }

// .nav-link {
//   font-weight: 500;
//   letter-spacing: 0.02em;
//   @include font(30, 40);
//   color: $_header_color;
// }

// .nav-link:hover,
// .nav-link:focus {
//   color: $_header_accent_color;
// }

.header {
  border-bottom: 1px solid #e9e8e4;
}

.header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  height: 108px;
  width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: 1439px) {
  .header-desktop {
    display: none;
  }
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 17px;

  font-family: 'Aladin', system-ui;
  font-size: 32px;

  color: $_main_color;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 1.2%;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 32px;

  font-size: 20px;
}

.navigation-item,
.navigation-burger-item {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item:hover {
  color: rgb(188, 188, 188);
}

// .navigation-item:active {
//   color: rgb(188, 188, 188);
// }

.navigation-burger-item:hover {
  color: rgba(233, 232, 228, 0.5);
  box-shadow: 2px 2px 12px 4px rgba(233, 232, 228, 0.12);
  background: rgb(14, 36, 0);
}
/**
  |============================
  | Mobile menu
  |============================
*/
.header-mobile {
  width: 320px;
  margin: 0 auto;
  height: 56px;
  padding: 4px 60px 4px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .header-mobile {
    display: none;
  }
}

.menu-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;

  display: flex;
  justify-content: flex-end;
  padding: 0;
}

@media only screen and (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background-color: $_main_bg_color;
  padding: 24px 12px 16px 12px;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in;
}

.menu-container.is-open {
  transform: translateX(0);
}

.modal-btn {
  padding-bottom: 24px;
}

.mobile-menu .link {
  display: block;
  font-family: 'Sora', sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.mobile-menu {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
