.hero {
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .hero-bg {
    margin: 0 auto;
    padding: 0;

    background-image: url('/img/hero/VectorDecor.png');
    background-color: transparent;
    width: 100%;
    height: 136px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-bg-fog {
    position: absolute;
    bottom: 0px;
    right: 0;
    margin: 0 auto;
    padding: 0;

    background-image: url('/img/hero/fog@1x.png');
    background-color: transparent;
    width: 100%;
    height: 424px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-bg {
    background-image: url('/img/hero/VectorDecor@2x.png');
  }
  .hero-bg-fog {
    background-image: url('/img/hero/fog@2x.png');
  }
}

.hero-wrap {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  .hero-wrap {
    display: flex;
    gap: 17px;
  }
}

.hero-left-side {
  width: 288px;
  z-index: 100;
}

@media only screen and (min-width: 1440px) {
  .hero-left-side {
    width: 400px;
  }
}

.hero-title,
.hero-span {
  font-family: 'Aladin';
  font-size: 64px;
  color: $_accent_color;
  margin-bottom: 24px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.hero-span {
  font-size: 40px;
}

.hero-text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 244, 166);
  margin-bottom: 32px;
  letter-spacing: 0.012em;
}

.hero-google {
  margin-bottom: 37px;
}

.hero-google:hover {
  box-shadow: 2px 2px 14.8px 0px rgb(187, 208, 0);
}

.hero-google-active {
  display: none;
}

.hero-link:active .hero-google {
  display: none;
}

.hero-link:active .hero-google-active {
  display: block;
}

.hero-img {
  display: none;
}

.hero-img-mobile {
  display: block;
  width: 320px;
  margin: 0 auto;
}

@media only screen and (min-width: 1440px) {
  .hero-img {
    display: block;
    border-radius: 40px;
    z-index: 100;
  }

  .hero-img-mobile {
    display: none;
  }
}
